<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="app">
   <ul>
       <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
   </ul>
   <span v-for="n in 10">{{ n }}</span>
    <hr>
    <ul>
        <li v-for="person in persons">
            <!-- <span v-for="value in person">{{ value }}</span> -->
            <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
        </li>
    </ul>

   <template v-for="(ingredient, index) in ingredients">
       <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
   </template>
</div>

<script src="app.js"></script>